---
import Section from "./Section.astro"
---

<Section
    title="Disfruta de Tesla"
    subtitle="Programa una prueba de conducción hoy mismo"
    color="white"
    id="hero"
    >
        <div slot="footer">
            <a class="border-[3px] border-white bg-white/5
            backdrop-blur-sm text-sm rounded font-medium
            text-white px-12 py-2 inline-block hover:bg-white
            hover:text-black transition-colors duration-300" 
            href="#">
            Prueba de conducción
            </a>
        </div>
        
        <video
        slot="background"
        class="object-center object-cover max-lg:h-full"
        autoplay
        muted
        loop
        src="/video.webm"></video>
</Section>